{#
/**
 * @file
 * Default theme implementation to present an audit question entity.
 *
 * This template is used when viewing a canonical audit question page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 * - question: The question text.
 * - help_text: Help text for the question.
 * - audit_entity: The audit node entity.
 * - audit_question_entity: The audit question entity.
 *
 * @see template_preprocess_audit_question()
 */
#}
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content and not view_mode == 'audit' %}
    {{- content -}}
  {% endif %}
</article>

{% if(view_mode == 'audit') %}
  <div class="audit-card">
    <div class="audit-card-header">
      <h3 class="audit-card-title">{{ question }}</h3>
    </div>
    <div class="audit-card-body">
      <div class="audit-card-content">
        <p>{{ help_text }}</p>
        {% if audit_entity and audit_question_entity %}
          <a href="{{ path('audit.evidence.add_form', {'audit': audit_entity.id(), 'audit_question': audit_question_entity.id()}) }}" class="audit-card-button audit-card-button-secondary">➕ {{ 'Evidence'|t }}</a>
        {% else %}
          <button class="audit-card-button audit-card-button-secondary" data-action="review">➕ {{ 'Evidence'|t }}</button>
        {% endif %}
      </div>
    </div>
    {# <div class="audit-card-footer"></div> #}
  </div>
{% endif %}
